/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 10, 2023, 12:30:03 PM
    Author     : Pasindu Theekshana
*/

#main{
    background-color: rgb(85, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body{
    background-color: rgb(85, 92, 92) !important;
    
}

#table_wrapper{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150%;
}

.modal_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
